# Môi trường ảo
venv/
.venv/
env/

# Cache Python & macOS
__pycache__/
*.pyc
.DS_Store

# File ảnh kết quả chạy thử tạm thời
result_*.jpg
comparison.jpg
test_*.jpg
dataset_raw/
dataset_no_dip/
dataset_with_dip/
*.zip
